.dashboards__tabs {
    display: inline-flex !important;
}
.btn-custom-primary {
    color: #fff;
    background-color: #525ce5;
    border-color: #525ce5;
    box-shadow: 2px 2px 3px #525252;
}
.btn-custom-warning {
    color: #fff;
    background-color: #eeb148;
    border-color: #eeb148;
    box-shadow: 2px 2px 3px #525252;
}
.btn-custom-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: 2px 2px 3px #525252;
}
.btn-custom-secondary  {
    color: #fff;
    background-color: #74788d;
    border-color: #74788d;
    box-shadow: 2px 2px 3px #525252;
}
.btn-custom-primary:hover {
    color: #fff;
    background-color: #525ce5;
    border-color: #525ce5;
    box-shadow: none;
}
.btn-custom-warning:hover {
    color: #fff;
    background-color: #eeb148;
    border-color: #eeb148;
    box-shadow: none;
}
.btn-custom-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none;
}
.btn-custom-secondary:hover {
    color: #fff;
    background-color: #74788d;
    border-color: #74788d;
    box-shadow: none;
}

.accordion-collapse {
    background: none !important;
}
.accordion {
    border-color: #eaeaea !important;
}
.accordion .accordion-header {
    background: #f1f1f1 !important;
}